@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-primary text-white leading-loose font-primary
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
  }
}
@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
  }
  .text-stroke-hover {
    -webkit-text-stroke: 1px #00ff99;
    color: transparent;
  }
}